* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

[hidden] {
  display: none !important;
}

/*cabeçalho*/

.cabecalho {
  background-color: #eee8ff;
  min-height: 5em;
  display: flex;
  display: flex;
  justify-content: center;
  padding: 0.3em 2em;
  flex: 0 1 auto;
}

.cabecalho2 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.logo {
  margin-right: 3em;
}

.pesquisa {
  min-width: 456px;
  min-height: 56px;
  background-color: #5b4e80;
  color: #eee8ff;
  border: none;
  padding-left: 15px;
  background-image: url("pics/icons8-pesquisar-64.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px;
  padding-right: 15px;
  background-origin: content-box;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 2em;
  outline: none;
}

.cabecalho button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
  color: #5b4e80;
  min-width: 100px;
  margin-left: 2em;
  margin-right: 2em;
  outline: none;
}

.cabecalho button > img {
  max-height: 2em;
  margin-right: 0.5em;
}

.perfil {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #5b4e80;
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 2em;
}

.perfil > img {
  border-radius: 50%;
  max-width: 50px;
  margin-left: 0.8em;
}

/*informações iniciais*/

body {
  background-color: #5b4e80;
}

.cadastro {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.infoPessoais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2.5em;
}

.infoIniciais {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 744px;
  background-color: #3e3557;
  color: #fdfdfd;
  margin-bottom: 16px;
  padding-top: 16px;
}

.infoIniciais h2 {
  padding-left: 32px;
}

.linha1 {
  display: flex;
  flex-direction: row;
}

.linha1 input {
  min-width: 328px;
  margin-bottom: 30px;
  outline: none;
}

.divInput {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-bottom: 0px;
  margin-left: 32px;
  margin-right: 32px;
}

.infoPessoais input {
  max-width: 328px;
  min-height: 40px;
  margin-top: 5px;
  margin-bottom: 30px;
  background-color: #3e3557;
  border: none;
  padding-left: 16px;
  outline: none;
}

.infoPessoais input:hover {
  border: 1px solid white;
}

/*sacola*/
.sacola {
  flex: 0 1 312px;
  margin-left: 24px;
  margin-top: 2.5em;
  color: white;
}

.cabecalho-sacola {
  background-color: #a785ed;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-size: 16px;
  padding: 14px 24px;
}

.sacolinha {
  min-width: 11px;
  max-height: 30px;
  margin-right: 12px;
  transform: rotate(25deg);
}
.conteudo-sacola {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 24px 18px;
}

.titulo {
  font-weight: bold;
  font-size: 1.5rem;
}

.input-cupom {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: white;
}

.input-cupom input {
  display: flex;
  min-width: 310px;
  min-height: 40px;
  margin-top: 3px;
  background-color: #3e3557;
  color: #fdfdfd;
  border: none;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-image: url("pics/icons8-bilhete-48.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px;
  background-origin: content-box;
  outline: none;
}

.itens-sacola {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.itens-sacola li {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.itens-sacola li > img {
  height: 70px;
  width: auto;
  margin-right: 10px;
}

.itens-sacola .titulo {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 25px;
}

.adicionar {
  background-color: #3e3557;
  color: #6fcf97;
  font-size: 22px;
  border: none;
  max-height: 30px;
  min-width: 30px;
  text-align: center;
  outline: none;
  border-radius: 8px;
}

.quantidade {
  margin-left: 14px;
  margin-right: 14px;
}

.remover {
  background-color: #3e3557;
  color: #ff7366;
  font-size: 20px;
  border: none;
  max-height: 30px;
  min-width: 30px;
  text-align: center;
  outline: none;
  border-radius: 8px;
}
.remover img {
  padding-top: 2px;
}

.acoes {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.conteudo-sacola > button {
  background-color: #e25ebf;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  border: 0;
  width: 100%;
  color: white;
  font-weight: bold;
  outline: none;
}
.confirmar span {
  display: flex;
  flex-direction: row;
}
